#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  /* height: 25vh;
  display: grid; */

}

header h1 {
  display: inline-block;
  font-size: 30px;
  color: white;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  grid-column: 1;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  font-size: 16px;

}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
  color: black;
  cursor: pointer;

}

.bg-1 {
  /* background-image: linear-gradient(180deg,#1a9ebc, #1abc9c ); */
  background-color: #1abc9c;
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}

h1 {
  padding: 57px;
  font-size: 3.2em;
  line-height: 1.1;
}

.img-circle {
  margin: auto;
  border-radius: 45px;
  padding: 15px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  /* padding: 44px; */
  padding-bottom: 39px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.container a {
  border: 3px solid #2a607c;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  background-size: 150%;
  color: #2a607c;
}

.resList {
  list-style-type: none;
}

footer {
  justify-content: center;
}

.footerImg {
  font-size: 41px;
  padding: 25px;
  margin-top: 30px;
  color: black;
}

.projectImg {
  width: 200px;
  height: 100px;
}

.projectImage {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 250px;
  padding: 50px;

}

#picture-1 {
  background-image: url("./images/picture1.jpg");
}

#picture-2 {
  background-image: url("./images/picture2.jpeg");
}

#picture-3 {
  background-image: url("./images/picture3.jpg");
}

#picture-4 {
  background-image: url("./images/picture4.jpg");
}

#picture-5 {
  background-image: url("./images/picture5.png");
}

#picture-6 {
  background-image: url("./images/picture6.jpg");
}

#picture-1,
#picture-2,
#picture-3,
#picture-4,
#picture-5,
#picture-6 {
  background-size: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 350px;
}

.projectName {
  color: white;
  background-color: #2a607c;
}

.resContainer {
  color: #2a607c;
}

.resTitle {
  font-weight: bolder;
}

.resSubTitle {
  font-weight: bold;
}

.intro {
  font-weight: bolder;
  font-size: 40px;
}

.aboutInfo {
  font-size: 35px;
}